.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15px;
}

.card {
  height: 300px;
  width: 250px;
  background: #d0e1d4;
  margin: 15px;
}

.book-cover {
  height: 190px;
  width: auto;
  margin: 10px auto;
  display: block;
}

.book-title {
  text-align: center;
  color: black;
  text-decoration: none;
}

.books-read-list {
  width: 25vw;
  margin: 10px;
  border-right: 2px solid black;
  justify-content: center;
}

.books-to-read-list {
  width: 75vw;
  margin: 10px;
  padding-left: 5px;
}

.book-list-header {
  font-family: "Inconsolata", monospace;
}
