.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

.card {
    height: 300px;
    width: 250px;
    background: #D0E1D4;
    margin: 15px;
    
}

.book-cover {
    height: 190px;
    width: auto;
    margin: 10px auto;
    display: block
}

.book-title {
    text-align: center
}