.book-image {
  height: 300px;
  width: auto;
  margin: 10px auto;
  display: block;
}

.book-author {
  text-align: center;
}

.book-tile {
  height: 100px;
  width: 100px;
  margin: 5px auto;
  display: flex;
  background-position-y: center;
}

.book-title {
  color: white;
  width: 100px;
  margin: auto 0 0 0;
  font-size: 12px;
  background: rgba(34, 34, 34, 0.5);
}
.books-read-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25vw;
}
