* {
  box-sizing: border-box;
}

.form-label {
  font-family: "Inconsolata", monospace;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin: 10px 5%;
}

.form-input {
  font-size: 20px;
  border-radius: 20px;
  border: solid 1px;
  padding: 10px;
  margin: 9px;
}

.form-title {
  font-size: 46px;
  color: white;
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.form-input:focus {
  outline: none;
}

.login-signup-container {
  background: rgba(150, 160, 173, 0.9);
  width: 600px;
  margin: 10px auto;
  padding: 0 10px;
  height: 700px;
}

.login-signup-form {
  padding: 20px;
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.form-button {
  border-radius: 20px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  background: rgba(68, 68, 68, 0.9);
  color: white;
  padding: 10px 50px;
  margin: 0 auto;
  display: block;
}

.signup-link {
  text-align: center;
  font-size: 24px;
  justify-self: flex-end;
  margin-top: 20px;
}

.signup-link:hover {
  color: blue;
  text-decoration: underline;
}
