#root {
    background-image: url("../../images/papertexture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


form {
    height: 50vh;
}

.login-heading {
    color: white;
    text-align: center
}