form {
  height: 50vh;
}

.login-heading {
  color: black;
  text-align: center;
}

.form-content {
  background: rgba(150, 160, 173, 0.6);
  width: 400px;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  border: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}

input:focus {
  outline: none;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  text-align: center;
}

button {
  font-size: 56px;
}

label {
  font-size: 16px;
  margin-top: 10px;
  margin: 0 auto;
  width: 80%;
}
