form,
.form-content,
label {
  display: flex;
  flex-direction: column;
}

.form-content {
  margin: 20px auto;
  border-radius: 6px;
  background: lightgray;
  padding: 10px 20px;
}

input {
  height: 30px;
  margin: 5px;
}

.form-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  margin: 10px auto;
}
